{% extends 'app/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="aptitudes">
        <h1>Aptitudes</h1>
       <p>
           <h2>Python</h2>
            <progress value="50">Python</progress>
        </p>
        <p>
            <h2>Java</h2>
            <progress value=100>Java</progress>
        </p>
    </div>

   <div class="about">
        <div class="my_jumbotron">
            <div class="container">
              <h1 class="display-3"><A:blank>About</A:blank></h1>
              <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
          </div>
    </div>

{% endblock %}